<h2 mat-dialog-title class="tituloDialog">Añadir Curso</h2>

<mat-dialog-content class="dialog-content">
    <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile [colspan] = "1" [rowspan] = "1"><span class="fields-margin bold">Activo</span></mat-grid-tile>
        <mat-grid-tile [colspan] = "3" [rowspan] = "1"><mat-checkbox class="fields-margin"></mat-checkbox></mat-grid-tile>

        <mat-grid-tile [colspan] = "1" [rowspan] = "1"><span class="fields-margin bold">Profesor</span></mat-grid-tile>
        <mat-grid-tile [colspan] = "3" [rowspan] = "1">
            <mat-form-field appearance="fill" class="fields-margin input-full-width">
                <mat-label>Profesores</mat-label>
                <mat-select>
                  <mat-option *ngFor="let profesor of profesores" [value]="profesor.id">
                    {{profesor.nombre}} {{profesor.apellidos}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan] = "1" [rowspan] = "1"><span class="fields-margin bold">Título</span></mat-grid-tile>
        <mat-grid-tile [colspan] = "3" [rowspan] = "1">
            <mat-form-field class="input-full-width">
                <input class="fields-margin" matInput [(ngModel)]="valor1" type="text" placeholder="">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan] = "1" [rowspan] = "1"><span class="fields-margin bold">Nivel</span></mat-grid-tile>
        <mat-grid-tile [colspan] = "3" [rowspan] = "1">
            <mat-form-field appearance="fill" class="fields-margin input-full-width">
                <mat-label>Niveles</mat-label>
                <mat-select>
                  <mat-option *ngFor="let nivel of niveles" [value]="nivel.value">
                    {{nivel.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan] = "1" [rowspan] = "1"><span class="fields-margin bold">Horas</span></mat-grid-tile>
        <mat-grid-tile [colspan] = "3" [rowspan] = "1">
            <mat-form-field class="fields-margin-number">
                <input matInput [(ngModel)]="valor2" type="number" placeholder="">
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button color="primary" class="botonAnadir" (click)="close()">Añadir</button>
</mat-dialog-actions>